<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <%- meta.pageTitle %>
    </title>
    <meta name="keywords" content="<%- meta.keywords %>">
    <meta name="description" content="<%- meta.description %>">
    <meta property="og:title" content="<%- meta.pageTitle %>">
    <meta property="og:description" content="<%- meta.description %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%- meta.url %>">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%- conf.path.css %>index.css">
</head>
<body>
